
/* Layout.blade.php */
.active a{
    color: white !important;
}
.gray{
    filter: brightness(0.7)!important;
    -webkit-filter: brightness(0.7)!important;
}
.active .gray{
    filter: none!important;
    -webkit-filter: none!important;
}
.hoverretiros:hover .gray{
    filter: none!important;
    -webkit-filter: none!important;
}
.hoverdepositos:hover .gray{
    filter: none!important;
    -webkit-filter: none!important;
}
.hoverdocumentos:hover .gray{
    filter: none!important;
    -webkit-filter: none!important;
}
.hoverinicio:hover .gray{
    filter: none!important;
    -webkit-filter: none!important;
}
.hoverbanca:hover .gray{
    filter: none!important;
    -webkit-filter: none!important;
}
.hoverportafolios:hover .gray{
    filter: none!important;
    -webkit-filter: none!important;
}
.hoverconfiguracion:hover .gray{
    filter: none!important;
    -webkit-filter: none!important;
}


[dir=ltr] .sidebar-dark.sidebar-left {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.15);
    background-color: #185bc3
}

[dir=ltr] .sidebar-dark .open {
    background: #185bc3!important;
}

[dir=ltr] .sidebar-dark .sm-item-bordered > .sidebar-menu-item {
    border-color: #185bc3!important;
} 

.positionButtom { 
    position: absolute;
    bottom: 0;
    left: 19px;
}

/* inicio.blade.php */

[dir=ltr] b, [dir=ltr] strong {
    font-weight: 100;
    color: rgba(39, 44, 51, 0.5) !important;
}

[dir=ltr] .mt-n1, [dir=ltr] .my-n1 {
    margin-top: -0.25rem !important;
    font-weight: bold;
    font-size: 1.5rem;
}
[dir=ltr] .text-50, [dir=ltr] .text-black-50 {
    color: rgba(39, 44, 51, 0.5) !important;
}

.statusActiva {
    width: 132px;
    background-color: #1c6af4;
    text-align: center;
    color: white;
    border-radius: 6px;
}
.statusInactiva {
    width: 132px;
    background-color: #b8d1f4;
    text-align: center;
    color: white;
    border-radius: 6px;
}

/* bancah.blade.php */

.historialNav {
    padding-top: 4rem!important;
}

@media (max-width: 768px){ 
    .historialNav {
        padding-top: 2rem!important;
    }
}

/* bancat.blade.php */

.transferenciaNav {
    padding-top: 4rem!important;
}

@media (max-width: 768px){ 
    .transferenciaNav {
        padding-top: 2rem!important;
    }
}
/* retiros.blade.php */

.space {
   padding-left: 5rem!important; 
   padding-right:5rem!important;
}

[dir=ltr] .form-label {
    text-transform: none!important;
    font-size: 0.9rem!important;
    color: #185bc3!important;
}

@media (max-width: 768px){ 
    .space {
        padding-left: 1rem!important; 
        padding-right:1rem!important;
     }
}

/* portafolio.blade.php */

[dir=ltr] .chart-legend-item {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 0.707rem;
    color: rgb(0, 0, 0)!important;
    padding: 0.25rem 0.5rem;
    border: 1px solid #E9EDF2;
    border-radius: 0.2rem;
}

/* cargard.blade.php */


.file-input {
    display: flex;
    justify-content: center;
    text-align: left;
    background: #fff;
    padding: 16px;
    width: 100%;
    position: relative;
    color: #6c8cbc;
    
}

.file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: #eaf6f9;
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 8px;
    border: 2px dashed #49a2ee;
    width:300px;
    text-align:center;
}

.file-input > .label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
}

.file-input.-chosen > .label {
    opacity: 1;
}

/* depositot.blade.php*/
.copy-icon {
    font-size: 15px;
    margin-left: 18px;
    color: #b8d1f4;
}

.copy-button1 {
     outline: none!important;
    border: none;
    background: #f2f5f7;
    margin: auto!important;

}
.copy-button1:hover {
     outline: none!important;
    border: none;
    background: #f2f5f7;
    margin: auto!important;

}

.copy-button1:focus {
outline: none!important;    
  outline: none!important;
  background: #f2f5f7;
}

.copy-button2 {
    outline: none!important;
    border: none;
    background: white;
    margin: auto!important;

}

.copy-button2:hover {
    outline: none!important;
    border: none;
    background: white;
    margin: auto!important;

}

.copy-button2:focus {
  outline: none!important;
  background: white;
}

.text-copy {
    margin: 3px!important;
}

/* Portafolio.blade & inicio.blade */
  /* Style The Dropdown Button */
  .dropbtn {
    background-color: white;
    padding: 16px;
    cursor: pointer;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
    position: relative;
    display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
    
    position: absolute;
    z-index: 1;
    }
    
    
    /* Show the dropdown menu on hover 
    .dropdown:hover .dropdown-content {
    display: block!important;
    }*/
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    
    .dropdown-content a .dropbtn:hover {
        background-color: #6ca3e4!important;
        color: white!important;
    }
    .dropdown-content a .dropbtn:hover p{
        color: white!important;
    }
    .dropdown-content a .dropbtn:hover label{
        color: white!important;
    }
    
    .dropdown-content a .dropbtn:hover span{
        color: white!important;
    }
    
    
    /* Styles para poder usar el modal de boostrap*/
    [dir=ltr] .modal-backdrop {
    
        width: auto!important;
        
    }
    